<a href="https://colab.research.google.com/github/YunishaBasnet/Introduction-to-Programming/blob/main/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question.1

In [ ]:
True and 1 / 0 and False

The first operand (True) is evaluated; it's truthy.
1 / 0 is then evaluated, causing a ZeroDivisionError.

Output: ZeroDivisionError

In [ ]:
True or 1 / 0 or False

In [ ]:
True and 0

In [ ]:
False or 1

In [ ]:
1 and 3 and 6 and 10 and 15

In [ ]:
0 or False or 2 or 1 / 0

#Question no.2

In [ ]:
def welcome():
    print('Welcome to', end=' ')
    return 'Hello'

def CS250():
    print('CS250')
    return 'Python'

print(welcome(), CS250())

#Question no. 3

In [ ]:
x = 6

def foo1(x):
    print(x)

def foo2(x):
    y = x
    x = 7
    print(x)

y = foo1(x)
foo2(x)
y + foo1(8)

#Question no. 4

In [ ]:
def cake(batter):
    return batter

def pan(x, y):
    y = y + 20
    return x(y)

pan(print, 10)

# Question no.5

In [ ]:
from operator import sub, mul

def print_sub(x, y):
    print('sub')
    return sub(x, y)

def print_mul(x, y):
    print('mul')
    return mul(x, y)

print_sub(print_mul(4, 504), 2)

#Quwestion no6

In [ ]:
x = 10

def foo():
    return x

def bar(x):
    return x

def foobar(new_value):
    x = new_value  # This x is local to the function.
    y = x + 1
    return x

# Function calls
foo()      # Returns global x: 10.
bar(5)     # Returns argument x: 5.
foobar(20) # Sets the local x to 20 and returns 20.
x          # Global x is still 10.
y          # y is local to foobar and doesn't exist in the global scope.

In [ ]:
##correct code to print
x = 10

def foo():
    return x

def bar(x):
    return x

def foobar(new_value):
    x = new_value
    y = x + 1
    return x

print(foo())      # Will print 10
print(bar(5))     # Will print 5
print(foobar(20)) # Will print 20
print(x)          # Will print 10
# print(y)        # Uncommenting this will raise a NameError

# Question no.7

In [ ]:
a = 1
def b(b):
    return a + b

a = b(a)
a = b(a)

print(a)

#Question no.8

In [ ]:
from operator import add

def sub(a, b):
    sub = add
    return a - b

add = sub
sub = min

print(add(2, sub(2, 3)))

#question no.9

In [ ]:
def add_absolute(a, b):
    return a + abs(b)
result = add_absolute(5, -3)
print(result)  # Output will be 5 + 3 = 8