<a href="https://colab.research.google.com/github/YunishaBasnet/Introduction-to-Programming/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

def approx_e(iter):
    e_approx = sum(1 / math.factorial(i) for i in range(iter))
    return e_approx

# Example usage:
result = approx_e(100)
print("Approximation of e:", result)

In [ ]:
import math

def squares(seq):
    return [x for x in seq if int(math.sqrt(x)) ** 2 == x]

# Example usage:
seq = [49, 8, 2, 1, 102]
print(squares(seq))  # Output: [49, 1]

seq = [500, 30]
print(squares(seq))  # Output: []

In [ ]:
def add_this_many(x, el, lst):
    count = lst.count(x)
    lst.extend([el] * count)

# Example usage:
lst = [1, 2, 4, 3, 1]
add_this_many(1, 5, lst)
print(lst)  # Output: [1, 2, 4, 3, 1, 5, 5]